<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing a struct to template</title>
</head>
<body>
   {{.Name}} - {{.Days}}
   <h2>With Variables</h2>
   {{ $month := .Name}}
   {{ $days := .Days}}
   {{$month}} - {{$days}}
</body>
</html>

