<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing a slice of struct to a template</title>
</head>
<body>
    <ul>
        {{range .}}
        <li>
            {{.Name}} - {{.Days}}
        </li>
        {{end}}
    </ul>
    With Variables
    <ul>
        {{range $months := .}}
        <li>
            {{$months.Name}} - {{$months.Days}}
        </li>
        {{end}}
    </ul>
</body>
</html>