<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing a struct with slice of struct</title>
</head>
<body>
    <ul>
        {{range .Owner}}
        <li>
            {{.Name}}
        </li>
        {{end}}
    </ul>
    <ul>
        {{range .Cars}}
        <li>
            {{.Make}} - {{.Model}}
        </li>
        {{end}}
    </ul>
</body>
</html>