<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing predefined functions - index</title>
</head>
<body>
    {{.}}
    Value at index 3: {{index . 3}}
    Value at index 1: {{index . 1}}
    Value at index 2: {{index . 2}}
</body>
</html>