<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing predefined functions - index with a struct</title>
</head>
<body>
    {{.}}
    Index 4 of Months: {{index .Months 4}}
    Index 2 of Months: {{index .Months 2}}
    Year: {{.Year}}
</body>
</html>